html, body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #333333;
	background-color: #272727;
	overflow: auto;
}

body {
	margin: 0px;

}


.projectIndexContainer{
	width: 150px;
	height: 150px;
	background-color: white;
	display: inline-block;
	text-decoration: none;
	padding: 7px;
	color: black;
	margin-right: 10px;
	margin-top: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	opacity: 1.0;
	overflow: hidden;
}

.projectIndexContainer:hover{
		text-decoration: none;
		opacity: 0.8;
}

.indexProjectName {
	display: inline-block;
	margin-left: 10px;
}

.indexProjectTime {
	display: block;
}

.bitLight {
	float: left;
	height: 5px;
	width: 5px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}


.bitDark {
	float: left;
	height: 5px;
	width: 5px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.bitsContainer {
	width: 15px;
	height: auto;
	display: inline-block;
	position: relative;
	top: 1px;
}

#app {
	right: 0px;
	top:0px;
	bottom: 0px;
	margin: 0px;
	position: absolute;
	left: 0px;
	-webkit-transition: left 0.1s; /* Safari */
    transition: left 0.1s;	
}

#leftPanel {
	width: 200px;
	background-color: #3d3d3d;
	color: white;
	height: 100%;
	position: absolute;
	top: 75px;
	bottom: 0px;
	float: left;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	z-index: 7;
	overflow-y: scroll;
	margin-bottom: -5000px; 
	padding-bottom: 5000px; 
	   overflow: scroll;
    overflow-x: hidden;
}

#datepickerfrom, #datepickerto{
	margin: 0px;
	width: 177px;
}

#submitReviewButton{
	display: block;
	margin: 20px auto;
	background-color: #dd155b;
	box-shadow: none;
	width: 100%;
}

#submitReviewButton:hover{
	background-color: #ff72a3;
}

.rightPanel {
	width: 160px;
	background-color: #3d3d3d;
	color: white;
	height: 100%;
	position: absolute;
	top: 75px;
	bottom: 0px;
	right: 0px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	z-index: 7;
	overflow-y: scroll;
	margin-bottom: -5000px; 
	padding-bottom: 5000px; 
	overflow: scroll;
    overflow-x: hidden;
	border-left: 10px solid #3d3d3d;
	border-right: 10px solid #3d3d3d;
}

#rightPanelContainer{
	background-color: white;
	color: #3d3d3d;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 200px;
}


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: white;
}

#menuSlider {
	text-decoration: none;
	padding-top: 10px;
	padding-left: 15px;
	height: 35px;
	width: 35px;
	font-size: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
	color: #c6c6c6;
	-webkit-transition: left 0.1s; /* Safari */
    transition: left 0.1s;	
	z-index: 9;
}

#menuSlider:hover {
	text-decoration: none;
	color: white;
}

#active {
	background-color: #4b4b4b;
	color: white;
}


form p{
	color: black;
}

#contentBox {
	width: 500px;
	background-color: white;
	height: auto;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	z-index: 2;
	padding: 20px;
	padding-top: 0px;
}

#contentBox h1 {
	margin: 0px;
	color: #414141;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 20px;
	font-size: 170%;
}

#topHeaderLink {
   display:inline-block;
    width: 150px;
	text-decoration: none;
	position: relative;
	left: 0px;
	margin-left: 50px;
}

#topHeaderLinkDashboard {
   display:inline-block;
    width: 200px;
	text-decoration: none;
	position: relative;
	left: 0px;
}

#topHeader {
	margin: 0px auto;
	text-align: center;
	background-color: #3d3d3d;
	
	height: 32px;
	padding-top: 13px;
	cursor:pointer;
}

#topHeader:hover {
	background-color: #545454;
}

#topHeader img {
	margin: 0px auto;
	display: inline-block;
}

#topHeader p {
	display: inline-block;
	font-size: 20px;
	margin: 0px auto;
	position: relative;
	bottom: 3px;
	margin-left: 3px;
	color: white;
}

a.projectContainer {
	display: inline-block;
	cursor:pointer;
	margin: 0px auto;
	text-align: left;
	height: 25px;
	padding-top: 12px;
	padding-bottom: 3px;
	padding-left: 39px;
	width: 100%;
	text-decoration: none; 
	color: white;
	font-size: 14px;
	background: #313131;
	position: relative;
}

a.projectContainer:hover  {
	 text-decoration: none;
		background-color: #5b5b5b;
		color: white;
}

a.projectContainer p {
	display: inline-block;
	font-size: 14px;
	margin: 0px auto;
	position: relative;
	bottom: 6px;
	margin-left: 3px;
	color: #4e4e4e;
}

#newProject {
	display: inline-block;
	cursor:pointer;
	margin: 0px auto;
	text-align: center;
	background-color: #dd155b;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	height: 23px;
	padding-top: 7px;
	width: 200px;
	color: white;
	text-decoration: none;
	position: absolute;
	top: 45px;
	z-index: 22;
}

#newProject p {
	display: inline;
	font-size: 100%;

}

#newProject:hover {
	background-color: #ff4083;
}

#content {
	padding-left: 240px;
	padding-top: 70px;
	width: auto;
	height: auto;
	min-width: 300px;
	max-width: 700px;
	color: white;
	clear: both;
	min-height: 113px;
}

#contentDash {
	margin: 0px auto;
	min-width: 300px;
	max-width: 760px;
	margin-top: 60px;
	color: white;	
	text-align: center;
}

#container {
	text-align: center;
	margin: 0px;
}

#projectHeader {
	display: inline;
	margin-left: 10px;
}

h1 {
	margin-top: 0px;
	color: white;
}

#overview {
	float: left;
	width: 900px;
	padding-left: 240px;
	min-height: 200px;
	overflow-x: scroll;
	margin-bottom: 15px;
}

#versionContainer {
	float: left;
	width: auto;
	padding-left: 240px;
	clear: both;
}

#statusBar {
	margin: 0px auto;
	background-color: #3d3d3d;
	height: 40px;
	z-index: 6;
	position: absolute;
	top: 0px;
	left: 200px;
	right: 0px;
	color: white;
	text-align: right;
	padding-right: 20px;
	padding-bottom: 5px;
}

#statusBar p {
	display: inline-block;
}

#status {
	float:left;
	padding-left: 20px;
	color: white;
	margin-left: 55px;
}

#menuBar {
	margin: 0px auto;
	background-color: #313131;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	height: 30px;
	z-index: 6;
	position: absolute;
	top: 45px;
	left: 200px;
	right: 0px;
	color: white;
	text-align: left;
	padding-right: 20px;
}

#menuBarDashboard {
	margin: 0px auto;
	background-color: #313131;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	height: 30px;
	z-index: 6;
	position: absolute;
	top: 45px;
	left: 0px;
	right: 0px;
	color: white;
	text-align: left;
	padding-right: 20px;
	padding-left: 20px;
}

#menuBar a,#menuBarDashboard a{
	text-decoration: none;
	color: white;
	height: 24px;
	display: inline-block;
	padding-top: 6px;
	padding-left: 20px;
	padding-right: 20px;
	min-width: 30px;
	text-align: center;
}

#menuBar a:hover, #menuBarDashboard a:hover {
	background-color: #5b5b5b;
}


#menuBar p, #menuBarDashboard p {
	display: inline-block;
}

/* Dashboard menu */
#menuBarDashboard {
	margin: 0px auto;
	background-color: #313131;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	height: 30px;
	z-index: 6;
	position: absolute;
	top: 45px;
	left: 0px;
	right: 0px;
	color: white;
	text-align: right;
	padding-right: 20px;
}


#reviewBox {
	position: relative;
	padding: 10px;
	min-width: 150px;
	min-height: 150px;
	background-color: #3d3d3d;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
    -webkit-transition: background-color .1s;
    transition: background-color .1s;
}

#reviewBox:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

.reviewContainer{
	background-color: #ffffff;
	display: inline-block;
	padding-bottom: 4px;
	margin-bottom: 35px;
	padding: 15px;
	max-width: 670px;
}

.voteContainer{
	width: 138px;
	display: inline-block;
	margin-right: 10px;
	float: right;
}

.voteText {
	color: #3d3d3d;
	margin-bottom: 4px;
}

.thumbUp, .thumbDown{
	display: inline;
	fill: #ff0059;
    -webkit-transition: opacity .1s;
    transition: opacity.1s;
}

.thumbDown{
	position: relative;
	top: 4px;
	transform: rotate(-180deg); 
	margin-left: 15px;
}

.thumbDown:hover, .thumbUp:hover{
	opacity: 0.5;
	cursor: pointer;
}

.reviewContainerHeader{
	margin: 0px;
	text-align: left;
	color: #313131;
}

.reviewComment {
	float: left;
}

.reviewAudio {
	float: left;
}

.commentSubmit{
	display: block;
	float: left;
	clear: both;
}


#NB {
	color: #ff387e;
	margin-left: 4px;
}

.dropDownButton{
	color: white;
	font-size: 80%;
	display: block;
	text-align: left;
	padding: 10px;
	text-decoration: none;
	padding-left: 30px;
}

.dropDownButton:hover {
	background-color: #5b5b5b;
	text-decoration: none;
}


.menuButtons{
	height: 0px;
	overflow: hidden;
    -webkit-transition: height .2s;
    transition: height .2s;
}

.buttonVisible {
	width: 100%;
	height: auto;
	display: inline-block;
	background-color: #272727;
    -webkit-transition: height .2s;
    transition: height .2s;
}

select {
	border: 1px solid #aaaaaa;
	border-radius: 2px;
	height: 30px;
	width: 100%;
}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.form{
	width: 300px; margin: 0px;
	display: inline-block;
	margin-left: 50px;
}


h5 {
	display: inline-block;
	margin: 0px;
	position: relative;
	bottom: 4px;
	margin-left: 2px;
	color: #aaaaaa;
}

.clearfix:before, .clearfix:after { 
	content: ""; display: table; 
}
.clearfix:after { 
	clear: both; 
}

#statusBar a {
	color:#ff4083; 
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

input[type='text'], input[type='password'] {
	width: 478px; 
	border-radius: 2px;
	border: 1px solid #CCC; 
	padding: 10px; 
	color: #000000; 
	font-size: 14px; 
	margin-top: 20px;
	background-color: #f6f6f6;
}

input[type='text']:focus, input[type='password'],textarea:focus { 
    background-color: white;
     -webkit-transition: background-color 100ms linear;
        -moz-transition: background-color 100ms linear;
        -o-transition: background-color 100ms linear;
        -ms-transition: background-color 100ms linear;
        transition: background-color 100ms linear;
}

textarea {
	width: 478px; 
	border-radius: 2px;border: 1px solid #CCC; 
	padding: 10px; 
	color: #000000;
	font-size: 14px; 
	margin-top: 10px;	
	resize: none;
	font-family: 'Roboto', sans-serif;
	background-color: #f6f6f6;
}

input[type='submit']{
	padding: 10px 25px 8px; 
	color: #fff; 
	background-color: #494949;
	text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
	font-size: 16px; 
	box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
	border: none;
	border-radius: 2px; 
	margin-top: 10px; 
	cursor:pointer;

}

input[type='submit']:hover {

	background-color: #7f7f7f;
}

audio {
	margin-top: 30px;
	width: 500px;
}


a#fileView {
	text-decoration:none;
	display: inline-block;
	height: 24px;
	width: auto;
	padding-top: 6px;
	padding-left: 7px;
	padding-right:  7px;
	border-radius: 2px;
	position: relative;
	bottom: 10px;
}

a#fileView:hover {
	background-color: #d51659;
	color: white;
}

.fileListPlayer {
	margin: 0px;
	width: 200px;
}

.fileListPlayerContainer{
	width: 260px;
	height: 77px;
	background: white;	
	padding: 5px;
	display: inline-block;
	margin-left: 4px;
}

audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}


.fileInfo {
	display: inline-block;
	padding-left: 10px;
}

#versionButtons {
	padding-top: 5px;
	position: relative;
	left: 10px;
	text-align: right;
	height: 25px;
	width: 100%;
}

#timestamp {
	font-size: 80%;
	display: inline;
	position: relative;
	left: -298px;
	top: 42px;
}

.versionButton {
	height: 22px;
	width: 22px;
	cursor: pointer;
	font-size: 20px;
	display: inline-block;
}	

a.versionButton {
		text-decoration: none;
		text-align: center;
}

#newVersionButton {
	text-decoration: none;
	color: #ff4083;
	font-weight: bold;
	font-size: 22px;
}

#newVersionButton:before {
	content: "+";
}

#reviewButton {
	background-color: #797979;
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
	visibility: hidden;
}

#reviewButton:before {
	content: "★";
}

#reviewButton:hover {
	color: #ff4083;
}

#reviewTitle{
	font-size: 110%;
	color: White;
	text-align: center;
	display: none;
}

#reviewContainer{
	display: none;
}


#reviewHeader{
	font-size: 120%;
	padding-left: 10px;
	padding-right: 10px;
}

#reviewHeaderInfo{
	padding-left: 10px;
	padding-right: 10px;
}

.reviewVersionTitle{
	margin: 0px auto;
	text-align: center;
}

.removeVersionReview {
	margin-left: 7px;
	cursor: pointer;
	font-size: 85%;
}

.removeVersionReview:hover {
	color: #dd155b;
}

.visibleElement{
	visibility: visible !important;
}

.displayElement{
	display: inline-block !important;
}

#editButton {
	opacity: 0.35;
}

#editButton:before {
	content: "✎";
}

#editButton:hover {
	opacity: 1.0;
}

#deleteButton {
	opacity: 0.35;
}


#deleteButton:hover {
	opacity: 1.0;	
}

#boxclose, #deletebutton{
  -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none; 
}

#boxclose{
    cursor:pointer;
    font-size: 19px;
	font-weight: lighter;
	opacity: 0.35;
}

#boxclose:before {
    content: "✖";
	text-decoration: none;
	font-weight: lighter;
}

#boxclose:hover {
	opacity: 1.0;	
}

h1#versionHeading {
	padding-top: 0px ;
}

.node {
	cursor: pointer;
}

.node circle {
	fill: #494949;
	stroke-width: 3px;
}

.node text {
/*	transform: rotate(-90deg); */
	font: 12px sans-serif;
}

.link {
	fill: none;
	stroke: #b70040;
	stroke-width: 2px;
}


svg {
	overflow: scroll;
}


g text{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

#fileAlert {
	display: inline-block;
}

#loginRegisterForm {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.help-block {
	color: #333333;
}